<footer>
    <div class="container">
        <div class="footer-nav d-flex jcsb margin-bottom-l align-center d-mb-column align-mb-start spacing-mb-xs">
            <a href="index.html"><img src="../assets/images/logo.svg" alt="logo link"></a>
            <div class="footer-nav-link label-md d-flex spacing-2xl d-mb-column spacing-mb-xxs px-mb-12">
                <a href="product-list.html">商品列表</a>
                <a href="brand-story.html">品牌故事</a>
            </div>
        </div>
        <div class="footer-copyright paragraph-sm">
            <p class="margin-bottom-xxs">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>