<header>
    <div class="container">
        <div class="header-area d-flex jcsb">
            <div class="header-area-nav d-flex spacing-3xl align-center">
                <a href="index.html"><img src="../assets/images/logo.svg" alt="logo link"></a>
                <div class="header-nav-link label-md d-mb-none">
                    <ul class="d-flex spacing-2xl">
                        <li><a href="product-list.html">商品列表</a></li>
                        <li><a href="brand-story.html">品牌故事</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-area-member">
                <a href="login.html"><i class="bi bi-person"></i></a>
            </div> 
        </div>
        <div class="header-mb-nav-link d-none d-mb-block">
            <ul class="d-flex jcsb align-center">
                <li><a href="product-list.html" class="bg-color-primary200 label-md">商品列表</a></li>
                <li><a href="brand-story.html" class="bg-color-primary100 label-md">品牌故事</a></li>
            </ul>
        </div>
    </div>
</header>