@import 'variable';

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: $neutral0;
    width: 100%;
}

.header-area {
    padding: 16px 0;

    &-member {
        a {
            padding: 12px;

            i {
                font-size: 24px;
            }
            &:hover {
                color: $primary400;
            }   
        }
    }
}   

.header-nav-link {
    a {
        padding: 12px 0;
        &:hover {
            color: $primary400;
        }  
    }
}

.header-mb-nav-link {
    li {
        width: 50%;
        text-align: center;
    }

    a {
        padding: 12px 0;
    }
}