<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的收藏 | URBNSTEP</title>

    <%- include('./layout/head'); %>
    
</head>
<body>
    <%- include('./layout/header'); %>

    <main>
        <div class="container">
            <div class="layout col-6 m0-auto col-mb-12">
                <div class="main d-flex flex-column spacing-xl spacing-mb-l align-center">
                    <div class="main-title d-flex spacing-m align-center">
                        <i class="bi bi-check-lg"></i>
                        <h3 class="headings-h3 headings-mb-h4">我的收藏</h3>
                    </div>
                    <div class="main-officeHour d-flex spacing-s align-center">
                        <i class="bi bi-truck"></i>
                        <p class="label-md">門市營業時間：週一至週五 10:00 - 22:00</p>
                    </div>
                    <div class="main-items-card">
                        <a href="product-detail.html" class="d-flex spacing-m margin-bottom-xl padding-bottom-xl">
                            <img src="../assets/images/product-list/product.png" alt="shoe photo">
                            <div class="main-items-card-content">
                                <div class="main-items-card-content-detail">
                                    <h5 class="headings-h5 margin-bottom-xs headings-mb-h6">PLATFORM 404</h5>
                                    <div class="main-items-card-content-detail-size paragraph-md paragraph-mb-sm d-flex spacing-s margin-bottom-xs">
                                        <p class="specification-color">尺寸</p>
                                        <p>38</p>
                                    </div>
                                    <div class="main-items-card-content-detail-color paragraph-md paragraph-mb-sm d-flex spacing-s margin-bottom-xs">
                                        <p class="specification-color">顏色</p>
                                        <p>Navy</p>
                                    </div>
                                </div>
                                <h6 class="headings-h6 text-right">NT$2,600</h6>
                            </div>
                        </a>
                    </div>
                    <div class="main-items-card">
                        <a href="product-detail.html" class="d-flex spacing-m margin-bottom-xl padding-bottom-xl">
                            <img src="../assets/images/product-list/product-4.png" alt="shoe photo">
                            <div class="main-items-card-content">
                                <div class="main-items-card-content-detail">
                                    <h5 class="headings-h5 margin-bottom-xs headings-mb-h6">BOOMLOK</h5>
                                    <div class="main-items-card-content-detail-size paragraph-md d-flex spacing-s margin-bottom-xs paragraph-mb-sm">
                                        <p class="specification-color">尺寸</p>
                                        <p>38</p>
                                    </div>
                                    <div class="main-items-card-content-detail-color paragraph-md paragraph-mb-sm d-flex spacing-s margin-bottom-xs">
                                        <p class="specification-color">顏色</p>
                                        <p>White</p>
                                    </div>
                                </div>
                                <h6 class="headings-h6 text-right">NT$2,600</h6>
                            </div>
                        </a>
                    </div>
                    <div class="main-items-card">
                        <a href="product-detail.html" class="d-flex spacing-m margin-bottom-xl padding-bottom-xl">
                            <img src="../assets/images/product-list/product-3.png" alt="shoe photo">
                            <div class="main-items-card-content">
                                <div class="main-items-card-content-detail">
                                    <h5 class="headings-h5 margin-bottom-xs headings-mb-h6">MELTY KISS</h5>
                                    <div class="main-items-card-content-detail-size paragraph-md d-flex spacing-s margin-bottom-xs paragraph-mb-sm">
                                        <p class="specification-color">尺寸</p>
                                        <p>38</p>
                                    </div>
                                    <div class="main-items-card-content-detail-color paragraph-md paragraph-mb-sm d-flex spacing-s margin-bottom-xs">
                                        <p class="specification-color">顏色</p>
                                        <p>Violet</p>
                                    </div>
                                </div>
                                <h6 class="headings-h6 text-right">NT$2,600</h6>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="label-md reserve radius-xs">立即預約門市試穿</a>
                </div>
            </div>
        </div>
    </main>


    <%- include('./layout/footer'); %>
    <script type="module" src="../main.js"></script>
</body>
</html>